<style>
    footer{
        background-color: #194d12 !important;
    }
    address > p, address > p > strong , address > p > strong > a,  .links > a, footer > h3  {
        color: white;
    }
    .white-icons {
        color: white !important;
    }
</style>



<!-- footer -->
<footer ng-controller="MainController">
    <div class="container py-5 mt-5">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3 class="text-uppercase mb-3">Información</h3>
                <address>
                    <p><strong>Headquarters:</strong></p>
                    <p class="mb-3">0926k 4th block building, king Avenue, New York City.</p>
                    <p><strong>Phone</strong> : +12 8976 2334</p>
                    <p><strong>Email</strong> : <a href="mailto:info@example.com">info@example.com</a></p>
                    <p><strong>Fax</strong> : +11 8976 2334 </p>
                </address>
            </div>
            <div class="col-lg-2 col-md-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
                <h3 class="text-uppercase mb-3">links</h3>
                <div class="links">
                    <a class="pt-2 text-capitalize " ng-click="toAbout();" href="javascript:void(1)"><i class="fas fa-angle-right"></i>Sobre nosotros</a>
                    <a class="pt-2 text-capitalize" ng-click="toMethod();" href="javascript:void(1)"><i class="fas fa-angle-right"></i>Metodología</a>
                    <a class="pt-2 text-capitalize" ng-click="toResult();" href="javascript:void(1)"><i class="fas fa-angle-right"></i>Resultados</a>
                    <a class="pt-2 text-capitalize" ng-click="toRiesgoAmbiental();" href="javascript:void(1)"><i class="fas fa-angle-right"></i>Riesgo ambiental</a>
                    <a class="pt-2 text-capitalize" ng-click="toMonitoreo();" href="javascript:void(1)"><i class="fas fa-angle-right"></i>Monitoreo</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-lg-0 mt-4">
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <!--<h3 class="text-uppercase mb-3"></h3>
                <p class="mb-4 pt-2">Subscribe to Our Newsletter to get Important News, Amazing Offers & More</p>
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Enter your email..." required="">
                    <button class="btn1"><i class="far fa-envelope"></i></button>
                    <div class="clearfix"> </div>
                </form>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="#" class="twitter float-right mr-1" style="font-size: x-large">
                    <i class="fab fa-twitter-square white-icons "></i>
                </a>
                <a href="#" class="facebook float-right mr-1" style="font-size: x-large">
                    <i class="fab fa-facebook-square white-icons "></i>
                </a>
                <a href="#" class="google float-right mr-1" style="font-size: x-large">
                    <i class="fab fa-google-plus white-icons "></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->

