<style>
    .navbar-brand {
        padding: 0;
    }
    .navbar-brand>img {
        height: 100%;
        padding: 15px;
        width: auto;
    }
    .nav-menu {
        color:black !important;
        text-decoration: none !important;
        cursor: pointer;
    }
    .nav-menu:hover{
        color:#4aa83d !important;
    }
    .nav-menu-active{
        color: #4aa83d !important;
    }
    .drop-menu-active {
        color:#4aa83d !important;
    }
    .nav-inferior{
        background-color: #bdbbbb;
        width: 100%;
    }
    .logo-cmpc{
        color:gray !important;
        text-transform: none !important;
    }
    .nav-dropdown {
       background-color: white;
       font-weight: 600;
    }
    .nav-dropdown:focus{
        box-shadow: none !important;
    }
    .dropdown-menux{
        cursor: pointer;
    }
    .icon-cmpc{
        position: relative;
        top: -22px;
        left: -31px;
    }
    .btn-cmpc{
        background-color: #55ac33;
        color: white;
    }
    .btn-cmpc:hover{
        background-color: #3e7b26;
    }
    .padding-nav-white {
        padding: 0;
        height: 100px;
    }
    .modal-backdrop{
        background: #3e7b26;
    }
    .modal-rounded {
        border-radius: 18px 18px 18px 18px;
        -moz-border-radius: 18px 18px 18px 18px;
        -webkit-border-radius: 18px 18px 18px 18px;
    }

    .fixed-top.scrolled {
        background-color: #4aa83d !important;
        transition: background-color 200ms linear;
    }

    .fixed-top.scrolled .nav-link, .fixed-top.scrolled .navbar-brand {
        color:white !important;
    }
    .fixed-top.scrolled .nav-dropdown {
        background-color: #4aa83d !important;
    }
    .fixed-top.scrolled .btn-cmpc{
        background-color: #3e7b26;
    }
    .modal-color-titulo {
        color: #55ac33;
    }
    .label-error-modal {
        color: #d00b0b;
    }
    .icon-success{
        font-size: 216%;
        color: #328a10;
    }
</style>

<!--Header-->
<div ng-controller="MainController">
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color:white;">
        <a class="navbar-brand logo-cmpc hand-pointer" ng-click="toHome();">
            cmpc
            <!--<img src="./assets/images/cmpc_images/separador.png" class="img-responsive icon-cmpc">-->
            <span class="display"></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-menu" ng-class="{'nav-menu-active' : toActive('/')}" ng-click="toHome();" data-toggle="collapse" data-target=".navbar-collapse">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" ng-class="{'nav-menu-active' : toActive('/sobre-nosotros')}" ng-click="toAbout();" data-toggle="collapse" data-target=".navbar-collapse">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn nav-dropdown nav-link nav-menu dropdown-toggle" data-toggle="dropdown" ng-class="{'drop-menu-active ' : toActiveProyecto()}">Proyecto
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="toMethod();" class="dropdown-menux" data-toggle="collapse" data-target=".navbar-collapse">Metodología</a></li>
                            <li><a ng-click="toResult();" class="dropdown-menux" data-toggle="collapse" data-target=".navbar-collapse">Resultados</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" ng-class="{'nav-menu-active' : toActive('/riesgo-ambiental')}" ng-click="toRiesgoAmbiental();" data-toggle="collapse" data-target=".navbar-collapse">Riesgo Ambiental</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-menu" ng-click="toMonitoreo();" ng-class="{'nav-menu-active' : toActive('/monitoreo')}" data-toggle="collapse" data-target=".navbar-collapse">Monitoreo</a>
                </li>
                <li class="nav-item" ng-show="!status_login">
                    <button class="btn btn-cmpc" data-toggle="modal" data-target="#modal-login">Ingresar
                </li>
                <li class="nav-item" ng-show="status_login">
                    <button class="btn btn-cmpc" ng-click="logout();">Cerrar Sesión
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Modal -->
<div id="modal-login" class="modal fade" role="dialog" ng-controller="LoginController">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-rounded">
            <div class="modal-header" style="text-align:center; border-bottom: 0;">
                <h4 class="modal-title modal-color-titulo">Iniciar sesión</h4>
                <i class="fas fa-check-circle icon-success" ng-show="icon_success"></i>
                <div class="lds-css ng-scope" ng-show="loading"><div style="width:100%;height:100%" class="lds-dual-ring"><div></div></div><style type="text/css">@keyframes lds-dual-ring {
                    0% {
                      -webkit-transform: rotate(0);
                      transform: rotate(0);
                    }
                    100% {
                      -webkit-transform: rotate(360deg);
                      transform: rotate(360deg);
                    }
                  }
                  @-webkit-keyframes lds-dual-ring {
                    0% {
                      -webkit-transform: rotate(0);
                      transform: rotate(0);
                    }
                    100% {
                      -webkit-transform: rotate(360deg);
                      transform: rotate(360deg);
                    }
                  }
                  .lds-dual-ring {
                    position: relative;
                  }
                  .lds-dual-ring div {
                    position: absolute;
                    width: 160px;
                    height: 160px;
                    top: 20px;
                    left: 20px;
                    border-radius: 50%;
                    border: 8px solid #000;
                    border-color: #52b548 transparent #52b548 transparent;
                    -webkit-animation: lds-dual-ring 1.3s linear infinite;
                    animation: lds-dual-ring 1.3s linear infinite;
                  }
                  .lds-dual-ring {
                    width: 66px !important;
                    height: 66px !important;
                    -webkit-transform: translate(-33px, -33px) scale(0.33) translate(33px, 33px);
                    transform: translate(-33px, -33px) scale(0.33) translate(33px, 33px);
                  }
                </style></div>
            </div>
            <form ng-submit="login();">
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="email" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1" required ng-model="username" ng-change="cleanLabelError();">
                    </div>
                    <label class="mb-3">{{label_error_user}}</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1" required ng-model="pass" ng-change="cleanLabelError();">
                    </div>
                    <label>{{label_error_pass}}</label>
                </div>
            
                <div class="modal-footer" style="border-top:0;">
                    <a class="link-blue" data-dismiss="modal">Olvidé mi contraseña</a>
                    <button type="submit" class="btn btn-cmpc">Ingresar</button>
                </div>
            </form>
        </div>

    </div>
</div>
