<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active heigth-carousel img-bosque1">
                <div class="carousel-caption down-left">
                    <h3>Resultados</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="mt-5 information">
        <div class="row">
            <div class="col-sm-11 margin-table">
                <p class="mb-3 text-justify parrafos">
                        Los parámetros ambientales estimados a través de los estudios en condiciones controladas, permiten generar
                        clasificaciones de <b>Riesgo Ambiental</b> que son utilizados para hacer la selección de herbicidas de mismo espectro
                        de control de malezas pero con un menor riesgo de contaminación de aguas.
                </p>
                <p class="mb-3 text-justify parrafos">
                        Los resultados de los <b>monitoreos</b> de aguas y suelos en cada una de las <b>áreas de Estudio </b>, han ido permitiendo determinar indicadores de la evolución de la calidad de las aguas debido al efecto de la producción forestal y a su vez ir adecuando manejos productivos hacia un foco de sustentabilidad real y comprobada.
                </p>

                <h4 class="text-uppercase mb-4 mt-5 text-justify">Para ver los resultados de este estudio, por favor Inicia Sesión</h4>
                
            </div>
    </div>
</div>