<style>
    .carousel-item {
        background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(./assets/images/cmpc_images/proyecto.jpg) no-repeat;
        background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(./assets/images/cmpc_images/proyecto.jpg) no-repeat;
        background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(./assets/images/cmpc_images/proyecto.jpg) no-repeat;
        background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(./assets/images/cmpc_images/proyecto.jpg) no-repeat;
        background-size: cover;
    }
</style>

<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="height: 442px;">
                <div class="carousel-caption down-left">
                    <h3>Resultados</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="mt-5 information">
        <div class="row">
            <div class="col-xs-11">
                <p class="mb-3 text-justify margin-p">
                        Los parámetros ambientales estimados a través de los estudios en condiciones controladas, permiten generar
                        clasificaciones de <b>Riesgo Ambiental</b> que son utilizados para hacer la selección de herbicidas de mismo espectro
                        de control de malezas pero con un menor riesgo de contaminación de aguas.
                </p>
                <p class="mb-3 text-justify margin-p">
                        Los resultados de los <b>monitoreos</b> de aguas y suelos en cada una de las <b>áreas de Estudio </b>, han ido permitiendo determinar indicadores de la evolución de la calidad de las aguas debido al efecto de la producción forestal y a su vez ir adecuando manejos productivos hacia un foco de sustentabilidad real y comprobada.
                </p>
            </div>
    </div>
</div>