<style>
    .table-border-green th, .table-border-green td {
        border: 1px solid #386f31 !important;
        text-align:center;
        color:white;
    }
    .tr-green-1{
        background-color:#548d4c;
    }
    .tr-green-2{
        background-color:#6aa662;
    }
    .center-tr{
        padding-top: 4rem !important;
    }
    .td-green{
        background-color:#318e24;
    }
</style>

<div id="riesgo">
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active heigth-carousel img-pino4">
                    <div class="carousel-caption down-left">
                        <h3>Riesgo Ambiental</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" ng-controller="RiesgoAmbientalCtrl">
        <div class="mt-5 information">
            <div class="row">
                <div class="col-sm-11 margin-table">
                    <p class="mb-3 text-justify parrafos">
                        Para cada uno de los herbicidas actualmente en uso en los programas de control de malezas, se determinaron sus coeficientes de adsorción (Kd) y desorción (%) en los cinco suelos de producción forestal CMPC, así como sus tasas de degradación (k), vida media (TD50) y degradación del 90% de los residuos (TD90).
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 margin-table">
                    <h4 class="text-uppercase mb-4"><i class="fas fa-angle-down arrow-f"></i>Coeficientes de adsorción (Kd) y porcentaje de desorción de los
                        herbicidas en cada uno de los principales cinco suelos forestales de CMPC</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-border-green">
                            <tr class="tr-green-1">
                                <th rowspan="3" class="center-tr">Herbicida</th>
                                <th colspan="10">Suelos</th>
                            </tr>
                            <tr class="tr-green-2">
                                <td colspan="2">Trumao
                                    <br>(Rucamanqui)</td>
                                <td colspan="2">Rojo Arcilloso
                                    <br>(San Juan)</td>
                                <td colspan="2">Granítico
                                    <br>(San Antonio)</td>
                                <td colspan="2">Arenoso
                                    <br>(Las Islas)</td>
                                <td colspan="2">Metamórfico
                                    <br>(Escuadrón)</td>
                            </tr>
                            <tr class="td-green">
                                <td><i>K<small>d</small>*</i></td>
                                <td>%</td>
                                <td><i>K<small>d</small>*</i></td>
                                <td>%</td>
                                <td><i>K<small>d</small>*</i></td>
                                <td>%</td>
                                <td><i>K<small>d</small>*</i></td>
                                <td>%</td>
                                <td><i>K<small>d</small>*</i></td>
                                <td>%</td>
                            </tr>
                            <tr ng-repeat="herbicidas in jsonTableHerbicidaKD">
                                <td class="tr-green-1">{{herbicidas.herbicida}}</td>
                                <td class="td-green">{{herbicidas.trumao_kd}}</td>
                                <td class="td-green">{{herbicidas.truma_per}}</td>
                                <td class="td-green">{{herbicidas.rojo_arcilloso_kd}}</td>
                                <td class="td-green">{{herbicidas.rojo_arcilloso_per}}</td>
                                <td class="td-green">{{herbicidas.granitico_kd}}</td>
                                <td class="td-green">{{herbicidas.granitico_per}}</td>
                                <td class="td-green">{{herbicidas.arenoso_kd}}</td>
                                <td class="td-green">{{herbicidas.arenoso_per}}</td>
                                <td class="td-green">{{herbicidas.metamorfico_kd}}</td>
                                <td class="td-green">{{herbicidas.metamorfico_per}}</td>
                            </tr>

                        </table>
                    </div>
                    <p class="mb-3 text-justify parrafos">
                        *Kd (L kg-1)   
                    </p>
                     
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 margin-table">
                    <h4 class="text-uppercase mb-4 mt-5"><i class="fas fa-angle-down arrow-f"></i>Tasa de disipación (K) de los herbicidas en cada uno de los principales
                        cinco suelos forstales de CMPC</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-border-green">
                            <tr class="tr-green-1">
                                <th rowspan="3" class="center-tr">Herbicida</th>
                                <th colspan="15">Suelos</th>
                            </tr>
                            <tr class="tr-green-2">
                                <td colspan="3">Trumao
                                    <br>(Rucamanqui)</td>
                                <td colspan="3">Rojo arcilloso
                                    <br>(San Juan )</td>
                                <td colspan="3">Granítico
                                    <br>(San Antonio)</td>
                                <td colspan="3">Arenoso
                                    <br>(Las Islas)</td>
                                <td colspan="3">Metarmórfico
                                    <br>(Escuadrón)
                                    <br>
                                    <br>
                                </td>
                            </tr>
                            <tr class="td-green">
                                <td><i>k*</i></td>
                                <td>TD<small>50</small>**</td>
                                <td>TD<small>90</small>**</td>
                                <td><i>k*</i></td>
                                <td>TD<small>50</small>**</td>
                                <td>TD<small>90</small>**</td>
                                <td><i>k*</i></td>
                                <td>TD<small>50</small>**</td>
                                <td>TD<small>90</small>**</td>
                                <td><i>k*</i></td>
                                <td>TD<small>50</small>**</td>
                                <td>TD<small>90</small>**</td>
                                <td><i>k*</i></td>
                                <td>TD<small>50</small>**</td>
                                <td>TD<small>90</small>**</td>
                            </tr>
                            <tr ng-repeat="herbicidas in jsonTableHerbicidaK">
                                <td class="tr-green-1">{{herbicidas.herbicida}}</td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                            </tr>
                        </table>
                    </div>
                    <p class="mb-3 text-justify parrafos">
                        *1 días &sup1; **TD<small>50</small>y TD<small>90</small> (Días)
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 margin-table">
                    <h4 class="text-uppercase mb-4 mt-5"><i class="fas fa-angle-down arrow-f"></i>Índices de lixiviación</h4>
                    <p class="mb-3 text-justify parrafos">
                        Los coeficientes de adsorción y tasas de disipación permitieron estimar diferentes índices de lixiviación, los cuales permiten hacer una comparación del riesgo potencial de lixiviación de diferentes herbicidas en un suelo o el mismo herbicida en diferentes suelos.
                    </p>
                    <p class="mb-3 text-justify parrafos">
                        Índices de lixiviación de los herbicidas en cada uno de los principales cinco suelos forestales de CMPC. Indices seleccionados de la
                        publicación <strong>Kogan et al. 2007.</strong>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-border-green">
                            <tr class="tr-green-1">
                                <th rowspan="3" class="center-tr">Herbicida</th>
                                <th colspan="15">Suelos</th>
                            </tr>
                            <tr class="tr-green-2">
                                <td colspan="3">Trumao
                                    <br>(Rucamanqui)</td>
                                <td colspan="3">Rojo arcilloso
                                    <br>(San Juan )</td>
                                <td colspan="3">Granítico
                                    <br>(San Antonio)</td>
                                <td colspan="3">Arenoso
                                    <br>(Las Islas)</td>
                                <td colspan="3">Metarmórfico
                                    <br>(Escuadrón)
                                    <br>
                                    <br>
                                </td>
                            </tr>
                            <tr class="td-green">
                                <td><i>Briggs Rf </i> &sup1;</td>
                                <td><i>Hamaker Rf</i> &sup1;</td>
                                <td><i>GUS</i>&sup1;</td>
                                <td><i>Briggs Rf </i> &sup1;</td>
                                <td><i>Hamaker Rf</i> &sup1;</td>
                                <td><i>GUS</i>&sup1;</td>
                                <td><i>Briggs Rf </i> &sup1;</td>
                                <td><i>Hamaker Rf</i> &sup1;</td>
                                <td><i>GUS</i>&sup1;</td>
                                <td><i>Briggs Rf </i> &sup1;</td>
                                <td><i>Hamaker Rf</i> &sup1;</td>
                                <td><i>GUS</i>&sup1;</td>
                                <td><i>Briggs Rf </i> &sup1;</td>
                                <td><i>Hamaker Rf</i> &sup1;</td>
                                <td><i>GUS</i>&sup1;</td>
                            </tr>
                            <tr ng-repeat="herbicidas in jsonTableHerbicidaLixiviacion">
                                <td class="tr-green-1">{{herbicidas.herbicida}}</td>
                                <td class="td-green">{{herbicidas.trumao_briggs}}</td>
                                <td class="td-green">{{herbicidas.trumao_hamaker}}</td>
                                <td class="td-green">{{herbicidas.trumao_gus}}</td>
                                <td class="td-green">{{herbicidas.rojo_arcilloso_briggs}}</td>
                                <td class="td-green">{{herbicidas.rojo_arcilloso_hamaker}}</td>
                                <td class="td-green">{{herbicidas.rojo_arcilloso_gus}}</td>
                                <td class="td-green">{{herbicidas.granitico_briggs}}</td>
                                <td class="td-green">{{herbicidas.granitico_hamaker}}</td>
                                <td class="td-green">{{herbicidas.granitico_gus}}</td>
                                <td class="td-green">{{herbicidas.arenoso_briggs}}</td>
                                <td class="td-green">{{herbicidas.arenoso_hamaker}}</td>
                                <td class="td-green">{{herbicidas.arenoso_gus}}</td>
                                <td class="td-green">{{herbicidas.metamorfico_briggs}}</td>
                                <td class="td-green">{{herbicidas.metamorfico_hamaker}}</td>
                                <td class="td-green">{{herbicidas.metamorfico_gus}}</td>

                            </tr>
                        </table>
                    </div>
                    <p class="mb-3 text-justify parrafos">
                        1 Valores mas cercanos a 1 indican mayor riesgo de lixiviación. 
                    </p>
                    <p class="mb-3 text-justify parrafos">
                        2 Valores menores a 1,8 no lixiviables; valores entre 1,8  y 2,8 riesgo de lixiviación; valores mayores a 2,8 lixiviables. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 margin-table">
                    <h4 class="text-uppercase mb-4 mt-5"><i class="fas fa-angle-down arrow-f"></i>Lisímetros</h4>
                    <p class="mb-3 text-justify parrafos">
                        Los valores entregados por los índices de lixiviación fueron comparados con los resultados obtenidos en los estudios en lisímetros, relacionando el índice de lixiviación con la profundidad alcanzada por cada herbicida en cada uno de los suelos y con la masa del herbicida lixiviada bajo los 15 cm. Esto permitió validar los Índices como herramientas de análisis de riesgo para futuros herbicidas que sean incorporados a los programas de manejo de malezas, y así ir utilizando herbicidas de bajo riesgo de lixiviación en zonas con napas de aguas muy superficiales o cercanos a cuencas de importancia para aguas de uso humano.
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered table-border-green">
                            <tr class="tr-green-1">
                                <th rowspan="4" class="center-tr">Herbicida</th>
                                <th colspan="10">Suelos</th>
                            </tr>
                            <tr class="tr-green-2">
                                <td colspan="2">Trumao
                                    <br>(Rucamanqui)</td>
                                <td colspan="2">Rojo arcilloso
                                    <br>(San Juan)</td>
                                <td colspan="2">Granítico
                                    <br>(San Antonio)</td>
                                <td colspan="2">Arenoso
                                    <br>(San Antonio)</td>
                                <td colspan="2">Metamórfico
                                    <br>(Escuadron)</td>
                            </tr>
                            <tr class="td-green">
                                <td>Lixiviado
                                    <br>Bajo 15cm</td>
                                <td>Lixiviado
                                    <br>Bajo 90cm</td>
                                <td>Lixiviado
                                    <br>Bajo 15cm</td>
                                <td>Lixiviado
                                    <br>Bajo 90cm</td>
                                <td>Lixiviado
                                    <br>Bajo 15cm</td>
                                <td>Lixiviado
                                    <br>Bajo 90cm</td>
                                <td>Lixiviado
                                    <br>Bajo 15cm</td>
                                <td>Lixiviado
                                    <br>Bajo 90cm</td>
                                <td>Lixiviado
                                    <br>Bajo 15cm</td>
                                <td>Lixiviado
                                    <br>Bajo 90cm</td>
                            </tr>
                            <tr class="td-green">
                                <td colspan="10">%</td>
                            </tr>
                            <tr ng-repeat="herbicidas in jsonTableHerbicidaLisimetros">
                                <td class="tr-green-1">{{herbicidas.herbicida}}</td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                            </tr>
                        </table>
                    </div>
                    <p class="mb-1 text-justify parrafos">
                        Porcentaje de los herbicidas lixiviados bajo los 15 y 90 cm del suelo, obtenidos en los estudios realizados en lisímetros.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11 margin-table">
                    <p class="mb-3 text-justify parrafos mt-5">
                        Todos los resultados obtenidos en los estudios en condiciones controladas (Coeficientes de adsorción, degradación herbicidas en el suelo y columnas de lixiviación), junto a la información de las propiedades físico- químicas de los herbicidas y su información ecotoxicológica existente, permitieron realizar una estimación de Riesgo Ambiental, utilizando el Índice IRA (Alister y Kogan, 2005). Los resultados de este índice contrastados con los resultados provenientes de los monitoreos, dejándolo como Índice Predictivo valido para su uso en las condiciones productivas de CMPC.
                    </p>
                    <p class="mb-3 text-justify parrafos">
                        Valores del Indicie de Riesgo Ambiental (IRA) estimado a partir de las determinaciones de coeficientes de adsorción y tasas de disipación para cada herbicida estudiado en los principales suelos forestales de CMPC.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11 margin-table">
                    <div class="table-responsive">
                        <table class="table table-bordered table-border-green">
                            <tr class="tr-green-1">
                                <th rowspan="3" class="center-tr">Herbicida</th>
                                <th colspan="10">Suelos</th>
                            </tr>
                            <tr class="tr-green-2">
                                <td colspan="2">Trumao
                                    <br>(Rucamanqui)</td>
                                <td colspan="2">Rojo arcilloso
                                    <br>(San Juan)</td>
                                <td colspan="2">Granítico
                                    <br>(San Antonio)</td>
                                <td colspan="2">Arenoso
                                    <br>(San Antonio)</td>
                                <td colspan="2">Metamórfico
                                    <br>(Escuadron)</td>
                            </tr>
                            <tr class="td-green">
                                <td>IRA*</td>
                                <td>IRA carga*</td>
                                <td>IRA*
                                    <br>
                                </td>
                                <td>IRA carga*</td>
                                <td>IRA*
                                    <br>
                                </td>
                                <td>IRA carga*</td>
                                <td>IRA*</td>
                                <td>IRA carga*</td>
                                <td>IRA*</td>
                                <td>IRA carga*</td>
                            </tr>
                            <tr ng-repeat="herbicidas in jsonTableHerbicidaIRA">
                                <td class="tr-green-1">{{herbicidas.herbicida}}</td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                                <td class="td-green"></td>
                            </tr>
                        </table>
                    </div>
                    <p class="mb-1 text-justify parrafos">
                        IRA corresponde al Índice de Riesgo Ambiental ponderado incorporando la toxicología de cada herbicida y el riesgo de
                        contaminación de aguas (IRA carga), valores van desde 4 a 64. IRA carga corresponde al Índice de Riesgo ambiental solo evaluando
                        el riesgo potencial de que el herbicida sea un contaminante de aguas superficiales y profundas, valores van desde 3 a 48. En ambos
                        casos los valores mas altos indican un riesgo mayor.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#riesgo').css('display', 'none');
        $('#riesgo').fadeIn(500);
    });
</script>

