<style>
    .carousel-item {
        background: -webkit-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(./assets/images/cmpc_images/about.jpg) no-repeat;
        background: -moz-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(./assets/images/cmpc_images/about.jpg) no-repeat;
        background: -ms-linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(./assets/images/cmpc_images/about.jpg) no-repeat;
        background: linear-gradient(rgba(23, 22, 23, 0.2), rgba(23, 22, 23, 0.5)), url(./assets/images/cmpc_images/about.jpg) no-repeat;
        background-size: cover;
    }
    .m-r-p {
        margin-right: 1rem;
    }
</style>

<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="height: 442px;">
                <div class="carousel-caption down-left">
                    <h3>Sobre Nosotros</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="welcome py-5 my-lg-5">
    <div class="container">
        <div class="row welcome_grids">
            <div class="col-lg-7 mb-lg-0 mb-5">
                <!-- <h3 class="mb-3 text-capitalize">Welcome to Career corp</h3>
                <p class="my-2 initial font-italic">lorem ipsum dolor sit amet</p> -->
                <p class="text-justify m-r-p parrafos">Comprometidos con el medio ambiente y el desarrollo sustentable, promovemos su cuidado y el de los recursos naturales para no afectar a las próximas generaciones.</p>
                <p class="mb-5 mt-4 text-justify m-r-p parrafos">
                    Es por esto que <b> la colaboración de </b><a class="link-mas">SIDAL</a>, reconocida Estacion Experimental Agrícola a nivel nacional e internacional, <b>llevaremos a cabo una investigación que buscará conocer y comprender</b> la dinámica ambiental de los plaguicidas en la industria forestal, para estudiar el impacto real sobre su uso en suelo y cursos de agua existentes sobre los cuales se desarrollan explotaciones forestales en los lugares que representan las mayores superficies de cultivo de pino y eucaliptus de CMPC, <b>pudiendo así desarrollar programas de manejo sustentables.</b>
                </p>
                <!-- <a href="#" class="text-uppercase" data-toggle="modal" data-target="#exampleModal"><span class="fas fa-play-circle"></span> Check Video </a> -->
            </div>
            <div class="col-lg-5 welcome_right">
                <img src="./assets/images/cmpc_images/Recoleccion.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="welcome py-5 my-lg-5">
    <div class="container">
        <div class="row welcome_grids">
            <div class="col-lg-5 welcome_right">
                <img src="./assets/images/cmpc_images/eucaliptus.JPG" alt="" class="img-fluid">
            </div>

            <div class="col-lg-7 mb-lg-0 mb-5">
                <p class="mb-5 mt-4 text-justify parrafos">Nuestro <b>objetivo</b> es conocer el comportamiento de cada uno de los productos estudiados para tomar decisiones <b>respecto a qué producto </b>utilizar en un determinado momento y situación, y que genere el menor impacto en el medio ambiente.</p>
                <p class="mb-5 mt-4 text-justify parrafos">Así, se producirá información sistematizada relativa al <b>comportamiento</b> y destino ambiental de herbicidas, y potencialmente otros insumos usados en la producción forestal, que permita obtener una línea base del riesgo y potencial magnitud de contaminación de aguas.</p>
                <p class="mb-5 mt-4 text-justify parrafos">En base a dicha información, se generarán indicadores del estado de las aguas y suelos, que podrán ser visualizados en forma directa por la comunidad.</p>
                <p class="mb-5 mt-4 text-justify parrafos">Esta información, complementada con los datos de eficacia de control de los herbicidas, permitirá desarrollar programas de control de malezas ajustados para cada zona de producción,que sean <b>eficaces y sustentables</b>, asegurando una producción forestal con un <b>impacto mínimo</b> sobre recursos naturales.</p>
            </div>
            
        </div>
    </div>
</section>